<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
   <meta http-equiv="content-type" content="text/html; charset=utf-8" />
   <title>{{ page.title }}</title>
   <link rel="stylesheet" href="/stylesheets/stylesheet.css" type="text/css" />
</head>
<body>
   <i>Thanks to <a href="https://github.com"  target="_blank">GitHub</a> for offering the host. Building C++ ecosystem is ongoing...</i>
   <div id="main_content_wrap" class="outer">
   <section id="main_content" class="inner">
   <div class="site">
     {{ content }}
   </div>
   <hr>
   <p align="center"><i>© 2018 Uplusware</i></p>
   </section>
   </div>
</body>
</html>
