<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
   <meta http-equiv="content-type" content="text/html; charset=utf-8" />
   <title>{{ page.title }}</title>
   <link rel="stylesheet" href="/stylesheets/screen.css" type="text/css" media="screen, projection" />
   <link rel="stylesheet" href="/stylesheets/syntax.css" type="text/css" />
</head>
<body>
<i>Thanks to <a href="https://github.com"  target="_blank">GitHub</a> for offering the host.</i>
	<div id="main_content_wrap" class="outer">
	<section id="main_content" class="inner">
		<p><img src="http://Uplusware.github.io/images/uplusware.png" alt="Uplusware"></p>
		<p align="right"><a href="/about.html">About &gt;&gt;</a> | <a href="/blog" target="_blank">Blog</a> | <a href="https://github.com/uplusware" target="_blank">Github</a></p> 
		<hr>
<div class="site">
  {{ content }}
</div>
		<hr>
		<p align="center"><i>© 2004 - 2016 Uplusware</i></p>
	</section>
	</div>
</body>
</html>
